<div class="url-container d-flex align-items-center justify-content-center text-center">
    <form action="/api/url/shorten" method="post" class="url-form">
        <h1>Shorter Links, <br>Greater Success!</h1>
        <p>A URL shortener built with powerful tools to be used with your own branding!</p>
        <div class="form-group">
            <input type="text" name="longUrl" class="form-control" placeholder="Shorten URL" aria-label="Shorten URL" required autocomplete="false">
            <button type="submit" class="btn btn-outline-primary mt-4 btn-lg btn-block mb-3">Shorten <i class="far fa-cut"></i></button>
        </div>
    </form>
</div>

<table class="table table-dark table-striped mb-4">
    <thead>
        <tr>
            <th>Short URL</th>
            <th>Long URL</th>
            <th>Sort Code</th>
            <th>Action</th>
        </tr>
    </thead>
    <% url.forEach(function(urls){%>
        <tbody>
            <tr>
                <th>
                    <a href="<%= urls.shortUrl %>" target="_blank"><%= urls.shortUrl %></a>
                </th>
                <th>
                    <% if (urls.longUrl.length > 64) { %>
                        <a href="<%= urls.longUrl %>" target="_blank"><%= urls.longUrl.slice(0, 48) + '...' %></a>
                    <% } else { %>
                            <a href="<%= urls.longUrl %>" target="_blank"><%= urls.longUrl %></a>
                    <% } %>
                </th>
                <th><%= urls.urlCode %></th>
                <th>
                    <form action="/api/url/delete/<%= urls.urlCode %>" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger"><i class="far fa-trash"></i></button>
                    </form>
                </th>
            </tr>
        </tbody>
    <% }); %>
</table>